
.container-hero{
background: $primary;

  &__inner{
    max-width: 60rem;
    margin:auto;
  }

  .hero{
  font-size: 1.4rem;
    text-align: center;
    background: primary;
    padding:$gutter *5;

    h2{
      color:white;
      font-size: 1rem;
    }
  }

}
