
.container-hero{
background: $blue-lighter;

  &__inner{
    max-width: 60rem;
    margin:auto;
  }

  .hero{
    color:$blue-darker;
    text-align: center;
    background: $blue-lighter;
    padding:$gutter *3;

    h2{

      font-size: 1rem;
    }
  }

}
