@media only screen and (min-width: 40rem) {
  .container {
    background: $secondary;


    &__inside-nav {
      max-width: 30rem;
      margin: auto;
    }
  }

  .nav-bar {
    padding: 0 $gutter;
    color: white;
    display: flex;
    justify-content: space-around;
    background: $secondary;
    align-items: center;
    align-content: center;

    &__item {
      padding: .4rem;

      p {

        font-size: 1rem;
      }
    }
  }

  .logo {
    order: 1;
    width:3rem;

    // display: inline-block;


  }
}
.name{
  order: 2;
}
.skills{
  order: 3;
}
.city{
  order:4
}
