@media only screen
  and (max-width: 767px)
{



.container  {

  &__inside{

    margin: auto;
  }
}
.nav-bar {
  color: white;
  display: flex;

  background: $secondary;
  align-items: center;
  align-content: center;

  &__item {
    padding: $gutter;

    p {
      font-size: 1.5rem;
    }
  }
}

.logo {
  order: 1;
  width: 3rem;
  // display: inline-block;


}
}
.name{
order: 2;
}
.skills{
order: 3;
}
.city{
order:4

}
