@media only screen
  and (max-width: 30rem)
{



.container  {

  &__inside{

    margin: auto;
  }
}
.nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $blue;
  align-items: center;

  &__item{
    p{
      font-size: 2rem;
      color:$blue-lighter;


    }
  }

}
.logo{
  width: 50%;
  img{width: 100%;}
}
.name{
  min-width: 25em;
}
}
