@media only screen
  and (min-width: 30rem)
{


    .container  { background:$blue;


      &__inside-nav{
         max-width: 60rem;
        margin: auto;


      }
    }
    .nav-bar{

      color:$blue-lighter;
      display: flex;
      justify-content: space-between;
      background: $blue;
      align-items: center;
      align-content: center;

      &__item{
        padding: 1.3rem;

        p{font-size: 1.5rem;}


      }

    }

    .logo{
      width: 10rem;
      display: inline-block;

      img{width: 100%;
        min-width: 8rem;
      // margin: -2.5rem;
  filter:blur(.3rem) contrast(500%);
  transition: all .4s linear;
      &:hover{
        filter:blur(0rem) ;

        transition: all 1s linear;
           }}
    }


  }
