@media only screen
  and (max-width: 500px)
{



.container  {

  &__inside{

    margin: auto;
  }
}
.nav-bar {
  color: white;
  display: flex;

  background: $secondary;
  align-items: center;
  align-content: center;

  &__item {
    padding: $gutter;

    p {
      font-size: 1rem;
    }
  }
}

.logo {
  order: 1;
  width: 30%;
  // display: inline-block;

  img {
    width: 50%;
    min-width: 4rem;


    // margin: -2.5rem;
    // filter:blur(.3rem) contrast(500%);
    // transition: all 0.4s linear;

    &:hover {
      // filter:blur(0rem);
      // transition: all 1s linear;
    }
  }
}
}
.name{
order: 2;
}
.skills{
order: 3;
}
.city{
order:4

}
