@media only screen and (min-width : 500px) and (max-width : 1000px)
{


.projects{
align-items: stretch;
justify-content: center;
  // flex-wrap: wrap;
}
  .projects__info{
min-width: 25rem;

  }
  .projects__img{
    min-width: 25rem;

img{width: 100%;}
  }
}
