.container-projects {
  background: $blue-darker;


  &__inner {
    background: $blue-darker;
    color: $blue-lighter;
    max-width: 60rem;
    margin: auto;

    .projects {
      display: flex;
      padding: $gutter;
      &__info{
        padding:$gutter;

        h1{
          color:$yellow;
        }
      }
    }

    .project-one {
      flex-direction: row;
      // flex-wrap: wrap;
    }

    .project-two {
      flex-direction: row-reverse;
        // flex-wrap: wrap;
    }

    .project-three {
      flex-direction: row;
        // flex-wrap: wrap;
    }

    .project-four {
    flex-direction: row-reverse;
      // flex-wrap: wrap;
    }
    .projects{
border-bottom:red dashed .01rem;
    &-img{background: green;



  }
}
  }
}



.projects:nth-child(even){
  border-left: red .01rem dashed;
}
.projects:nth-child(odd){
  border-right: red .01rem dashed;
}
