.container-projects {



  &__inner {
padding: $gutter;

    max-width: 60rem;
    margin: auto;

    .projects {
      display: flex;
      padding: $gutter;
      &__info{
         padding: 0 $gutter;

        h1{


        }
      }
    }

    .project-one {
      flex-direction: row;
      // flex-wrap: wrap;
    }

    .project-two {
      flex-direction: row-reverse;
        // flex-wrap: wrap;
    }

    .project-three {
      flex-direction: row;
        // flex-wrap: wrap;
    }

    .project-four {
    flex-direction: row-reverse;
      // flex-wrap: wrap;
    }
    .projects{


    &-img{



  }
}
  }
}
