.container-projects {



  &__inner {
padding: $gutter;

    max-width: 60rem;
    margin: auto;

    .projects {
      display: flex;
      padding: $gutter;
      &__info{
         padding: 0 $gutter ;
          //  width: calc(100% / 10 * 7 - 1rem);
           h1{
             padding-bottom: $gutter;
           }



      }
    }

    .project-one {
      flex-direction: row;
      // flex-wrap: wrap;
    }

    .project-two {
      flex-direction: row-reverse;
        // flex-wrap: wrap;
    }

    .project-three {
      flex-direction: row;
        // flex-wrap: wrap;
    }

    .project-four {
    flex-direction: row-reverse;
      // flex-wrap: wrap;
    }
    .projects{


    &-img{
img{
width: 100%;
}
  }
}
  }
}

.projects-img{
  width: calc(100% / 10 * 5 - 1rem);
}
