// @import 'yoga';
// @import 'normalize';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$primary: #41d0e1;
$secondary: black;
$gutter: 1rem;

@import 'reset';
@import 'font-awesome';
@import 'box-sizing';
@import 'nav-mobile';
@import 'nav-desktop';
@import 'projects-desktop';
@import 'hero-desktop';
@import 'projects-mobile';
@import 'projects-tablet';
@import 'gallery-desktop';
@import 'gallery-hover';
