// @import 'yoga';
// @import 'normalize';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$blue: #29516D;
$blue-darker: darken($blue, 10%);
$blue-lighter: lighten($blue,50%);
$yellow: red;
$gutter: 1rem;
@import 'reset';
@import 'font-awesome';
@import 'box-sizing';
@import 'nav-desktop';
@import 'projects-desktop';
@import 'hero-desktop';
@import 'nav-mobile';
@import 'projects-mobile'
